<h2 class="heading-primary u-text-center">O zawodzie Testera Oprogramowania</h2>
<div class="about">

  <ul class="about__left">
      <li *ngFor="let el of test; let i = index" [ngClass]="{'active':activeIndex === i}" (click)="onCardChange(i)">
          {{ el.question }}
      </li>
  </ul>

  <div class="about__right">
    <ng-container *ngFor="let el of test; let i = index">
      <div *ngIf="activeIndex === i" [@card]>
        <div class="about__right-header">
          <figure>
            <img class="about__img" src="./../../../assets/lukasz_p.jpg" [alt]="el.who">
          </figure>
          <div>
            <h2 class="heading-secondary heading-secondary--white u-mb-small">{{ el.who }}</h2>
            <p class="text-blue-light text-blue-light--small">{{ el.description }}</p>
          </div>
        </div>
        <div class="about__right-body">
          <blockquote> {{ el.quote }} </blockquote>
        </div>
      </div>
    </ng-container>
  </div>

</div>

