:host {
  display: block;
}

.about {
  display: flex;
  align-items: flex-start;
  margin-top: 7rem;

  &__left,
  &__right {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-default);
    background-color: var(--color-white);
    overflow: hidden;
  }

  &__left {
    flex: 0 1 33%;
    margin-right: 3rem;

    li {
      font-size: 1.6rem;
      line-height: 1.81;
      font-weight: bold;
      padding: 2.2rem 2rem;
      color: var(--color-blue);
    }

    li:hover {
      background-color: var(--color-blue-subtle);
      cursor: pointer;
    }

    li.active {
      background-color: var(--color-blue-light);
      color: var(--color-white);
    }

    li:not(:last-child) {
      border-bottom: 2px solid var(--color-blue-subtle);
    }
  }

  &__right {
    flex: 0 1 66%;
    position: relative;

    &-header {
      background-color: var(--color-blue);
      padding: var(--padding);
      display: flex;
      align-items: center;
    }
    &-body {
      padding: 8rem var(--padding);
      white-space: pre-line;
    }
  }

  & figure {
    margin-right: 4rem;
  }
  
  &__img {
    width: 15rem;
    height: 15rem;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid var(--color-yellow);
    box-shadow: var(--box-shadow-yellow);
  }
}
