<div class="footer__upper">
    <div class="container">
        <ul class="footer__list">
            <li class="footer__item">
                <p class="heading-secondary heading-secondary--white u-fixed-line-height">testuj.pl</p>
                <div class="footer__item--info">
                    <p class="paragraph paragraph--footer paragraph--white">
                        TestArmy Group S.A.<br>
                        ul. Petuniowa 9/5<br>
                        53-238 Wrocław<br>
                        NIP: PL8992754194
                    </p>
                </div>
            </li>
            <li class="footer__item">
                <p class="heading-tertiary heading-tertiary--white u-fixed-line-height">Szkolenia</p>
                <div class="footer__item--contact">
                    <p class="paragraph paragraph--footer paragraph--white">
                        e-mail: info@testuj.pl<br>
                        tel. +48 71 738 20 70
                    </p>
                    <div class="footer__social">
                        <a href="https://www.facebook.com/testujpl">
                            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <path fill="#25368d" d="M19 6h5V0h-5c-3.86 0-7 3.14-7 7v3H8v6h4v16h6V16h5l1-6h-6V7c0-.542.458-1 1-1z"></path>
                            </svg>
                        </a>
                        <a href="https://www.youtube.com/channel/UC5nfCVMCEhYjCgnUoufoLhw/">
                            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <path fill="#25368d" d="M31.681 9.6s-.313-2.206-1.275-3.175C29.187 5.15 27.825 5.144 27.2 5.069c-4.475-.325-11.194-.325-11.194-.325h-.012s-6.719 0-11.194.325c-.625.075-1.987.081-3.206 1.356C.631 7.394.325 9.6.325 9.6s-.319 2.588-.319 5.181v2.425c0 2.587.319 5.181.319 5.181s.313 2.206 1.269 3.175c1.219 1.275 2.819 1.231 3.531 1.369 2.563.244 10.881.319 10.881.319s6.725-.012 11.2-.331c.625-.075 1.988-.081 3.206-1.356.962-.969 1.275-3.175 1.275-3.175s.319-2.587.319-5.181v-2.425c-.006-2.588-.325-5.181-.325-5.181zM12.694 20.15v-8.994l8.644 4.513-8.644 4.481z"></path>
                            </svg>
                        </a>
                        <a href="https://www.linkedin.com/company/testuj-pl/">
                            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <path fill="#25368d" d="M12 12h5.535v2.837h.079c.77-1.381 2.655-2.837 5.464-2.837C28.92 12 30 15.637 30 20.367V30h-5.769v-8.54c0-2.037-.042-4.657-3.001-4.657-3.005 0-3.463 2.218-3.463 4.509V30H12V12zM2 12h6v18H2V12zM8 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            <li class="footer__item">
                <figure class="footer__logo-figure">
                    <img class="footer__logo" src="./../../../assets/Light.png" alt="TestArmy Logo">
                </figure>
                <p class="paragraph paragraph--footer paragraph--white footer__item--testarmy"><strong>Testuj.pl jest częścią<br>TestArmy Group S.A.</strong></p>
            </li>
        </ul>
    </div>
</div>
<div class="footer__lower">
    <div class="container">
        <span class="heading-tertiary heading-tertiary--white">Testuj.pl TestArmy Group S.A.</span>
        <a class="text-info text-info--link" href="//testarmy.com/uslugi/testy-automatyczne/" target="_blank">Testy
            Automatyczne</a>
        <a class="text-info text-info--link" href="//cyberforces.com/" target="_blank">Audyty bezpieczeństwa systemów
            informatycznych</a>
    </div>
</div>