<div class="footer__upper">
    <div class="container">
        <ul class="footer__list">
            <li class="footer__item">
                <p class="heading-secondary heading-secondary--white u-fixed-line-height">testuj.pl</p>
                <div class="footer__item--info">
                    <p class="paragraph paragraph--footer paragraph--white">
                        TestArmy Group S.A.<br>
                        ul. Petuniowa 9/5<br>
                        53-238 Wrocław<br>
                        NIP: PL8992754194
                    </p>
                </div>
            </li>
            <li class="footer__item">
                <p class="heading-tertiary heading-tertiary--white u-fixed-line-height">Szkolenia</p>
                <div class="footer__item--contact">
                    <p class="paragraph paragraph--footer paragraph--white">
                        e-mail: info@testuj.pl<br>
                        tel. +48 71 738 20 70
                    </p>
                    <div class="footer__social">
                        <a href="https://www.facebook.com/testujpl">
                            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="assets/icons.svg#facebook"></use>
                            </svg>
                        </a>
                        <a href="https://www.youtube.com/channel/UC5nfCVMCEhYjCgnUoufoLhw/">
                            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="assets/icons.svg#youtube"></use>
                            </svg>
                        </a>
                        <a href="https://www.linkedin.com/company/testuj-pl/">
                            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="assets/icons.svg#linkedin"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            <li class="footer__item">
                <figure class="footer__logo-figure">
                    <img class="footer__logo" src="assets/Light.png" alt="TestArmy Logo">
                </figure>
                <p class="paragraph paragraph--footer paragraph--white footer__item--testarmy"><strong>Testuj.pl jest częścią<br>TestArmy Group S.A.</strong></p>
            </li>
        </ul>
    </div>
</div>
<div class="footer__lower">
    <div class="container">
        <span class="heading-tertiary heading-tertiary--white">Testuj.pl TestArmy Group S.A.</span>
        <a class="text-info text-info--link" href="//testarmy.com/uslugi/testy-automatyczne/" target="_blank">Testy
            Automatyczne</a>
        <a class="text-info text-info--link" href="//cyberforces.com/" target="_blank">Audyty bezpieczeństwa systemów
            informatycznych</a>
    </div>
</div>
