.form-section {
    display: flex;
    // align-items: flex-start;

    &__left {
        flex: 0 1 33%;
        position: relative;
    }

    &__right {
        position: relative;
        flex: 1;
        padding: 5rem 9rem 6rem;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow-gray);
        background-color: var(--color-white);
        overflow: hidden;
        z-index: 1;
    }

    &__img {
        display: block;
        position: absolute;
        top: -20%;
        left: -100%;
        width: 210%;
      }
}
  