.form-section {
    display: flex;

    &__left {
        flex: 1;
        position: relative;
    }

    &__right {
        position: relative;
        flex: 0 1 78rem;
        padding: 5rem 9rem 6rem;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow-gray);
        background-color: var(--color-white);
        overflow: hidden;
        z-index: 1;
    }

    &__img {
        display: block;
        position: absolute;
        top: -8rem;
        left: -39rem;
        width: 82rem;
    }
}
  