<div class="dashboardTop">
  <div class="dashboardTop__left">
    <h2 class="heading-primary heading-primary--white">Sprawdź, czy kariera<br /> testera oprogramowania<br /> jest dla Ciebie</h2>
    <h3 class="text-blue-light dashboard__numbers">Już <span class="numbers">10 349</span> osób zainteresowanych IT,<br /> skorzystało z testu na testera</h3>
    <ul class="list">
      <li>W 100% darmowy test</li>
      <li>Dla osób początkujących, zainteresowanych pracą w IT</li>
      <li>Potrzebujesz tylko 5 - 10 minut</li>
      <li>Odpowiedź z wynikami otrzymasz w ciągu 48h mailowo</li>
    </ul>
  </div>
  <div class="dashboardTop__right">
    <app-test-form [fullButton]="true"></app-test-form>
  </div>
</div>
<div class="dashboardBottom">
  <p class="text-info">Administratorem Twoich danych osobowych jest TestArmy Group S.A. z siedzibą we Wrocławiu (53-238), przy ul. Petuniowej 9/5. Twoje dane osobowe będą przetwarzane w celu realizacji zamówień usługi, a także w celach marketingowych, o ile wyraziłeś na to zgodę. Dostęp do Twoich danych będą miały podmioty wspierające nas w świadczeniu usług drogą elektroniczną. Podanie adresu mailowego jest dobrowolne. Przysługuje Ci prawo dostępu do Twoich danych osobowych, ich sprostowania, usunięcia lub ograniczenia, wniesienia sprzeciwu oraz przenoszenia danych. Więcej informacji znajdzieszn w <a href="#politykaPrywatności">Polityce prywatności</a> i <a href="plikiCookies">plików cookies</a>. W razie jakichkolwiek pytań, napisz do nas pod adres: <a href="mailto:data@testarmy.com">data@testarmy.com</a>.</p>
</div>
