:root {
    /* Colors */
    --color-white: #fff;

    --color-blue: #25368d;
    --color-blue-light: #4f68e8;
    --color-blue-lighter: #8597ef;
    --color-blue-subtle: #f3f5fd;
    --color-blue-dark: #131c49;

    --color-gray: #aeaeae;
    --color-gray-border: #d8d8d8;
    --color-gray-background: #f6f6f6;

    --color-yellow: #f9da4a;

    /* Shadows */
    --box-shadow-default: 0 5px 20px rgba(37,54,141,.1);
    --box-shadow-yellow: 0 10px 20px rgba(249,212,35,.2);

    /* Borders */
    --border-radius: 9px;

    /* Structures */
    --con-max-width: 121rem;
    --con-padding: 1.5rem;

    /* Padding */
    --padding: 5rem;
}

$bp-largest: 75em;    //1200/16
$bp-large: 70em;      //1120/16
$bp-medium: 68.75em;  //1100/16
$bp-menu: 56.25em;    //900/16
$bp-small: 37.5em;    //600/16
$bp-smaller: 31.25em; //500/16
