<form>
    <h2 class="heading-secondary" [ngClass]="{'u-center u-mb-medium': centerHeading}" [ngStyle]="{'margin-bottom': (centerHeading) ? '4rem' : '2rem' }">Wypełnij test predyspozycji</h2>
    <label class="inputLabel" for="eMail_1">Adres e-mail</label>
    <input type="email" name="eMail_1" id="eMail_1" placeholder="jan.kowalski@gmail.com" required>
    <label class="custom-checkmark">
        <span>*TAK, chcę zapisać się do newslettera i otrzymywać informację o sekretach testerskich, webinarach i ofertach pracy na mój adres e-mail </span>
        <span class="terms" *ngIf="!moreTerms">, dlatego wyrażam zgodę na otrzymywanie informacji handlowych w rozumieniu ustawy oświadczeniu usług drogą elektroniczną wysyłanych przez TestArmy Group S.A. z siedzibą we Wrocławiu (53 -238), przy ul. Petuniowej 9/5, na podany przeze mnie adres mailowy. Zostałem/am poinformowany/a, że mogę wycofać tak udzieloną zgodę w dowolnym momencie, oraz że wycofanie zgody nie będzie miało wpływu na działania, które zostały podjęte przed tą czynnością. </span>
        <span class="more" (click)="onExpandTerms()">{{ switchState }}</span>
        <input #checkbox type="checkbox" name="terms_1" id="terms_1">
        <span class="checkmark"></span>
    </label>
    <button class="button" [ngClass]="{'button--full-width': fullButton }" type="submit">Rozpocznij test</button>
</form>
