<header class="u-bg-blue navigationBar">
  <section class="container navigationBar__content">
    <app-header></app-header>
  </section>
</header>
<section class="section-dashboard u-bg-blue">
  <div class="container">
    <app-dashboard></app-dashboard>
  </div>
</section>
<section class="section-about u-bg-subtle">
  <div class="container">
    <app-about></app-about>
  </div>
</section>
<section class="section-table u-overflow">
  <div class="container">
    <app-table></app-table>
  </div>
</section>
<!-- Dont make components for each section -->
<section class="section-form u-bg-subtle u-overflow">
  <div class="container">
    <app-section-form></app-section-form>
  </div>
</section>
<footer class="footer">
  <app-footer></app-footer>
</footer>