<section class="table">
  <div class="table__left">
    <h2 class="heading-primary heading-primary--white">O testuj.pl</h2>
    <p class="paragraph paragraph--white table__text">
      Specjalizujemy się w obszarze testowania oprogramowania: aplikacji, systemów i stron internetowych. W skład naszego zespołu wchodzą Testerzy, specjaliści QA, Inżynierowie Testów, Analitycy, Scrum Masterzy i specjaliści UX.
      <br><br>
      Razem, nie tylko realizujemy biznesowe projekty, ale także edukujemy i rozwijamy branżę testerską. Od 2015 roku  prowadzimy szkolenia dla osób, które chcą wejść w zawód testera, zdobyć certyfikaty ISTQB/ REQB lub po prostu podnieść swoje kwalifikacje.
    </p>
  </div>
  <div class="table__right">
      <img class="table__img" src="assets/table.svg" alt="Table">
  </div>
</section>
