@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 300;
  src: local('Muli-Light'), url(./../assets/Muli/Muli-Light.ttf) format('truetype');
}
@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: 300;
  src: local('Muli-LightItalic'), url(./../assets/Muli/Muli-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(./../assets/Muli/Muli-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: 400;
  src: local('Muli'), url(./../assets/Muli/Muli-RegularItalic.ttf) format('truetype');
}
@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  src: local('Muli-SemiBold'), url(./../assets/Muli/Muli-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: 600;
  src: local('Muli-SemiBold'), url(./../assets/Muli/Muli-SemiBoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 700;
  src: local('Muli-Bold'), url(./../assets/Muli/Muli-Bold.ttf) format('truetype');
}
@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: 700;
  src: local('Muli-Bold'), url(./../assets/Muli/Muli-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  src: local('Muli-Bold'), url(./../assets/Muli/Muli-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: 800;
  src: local('Muli-Bold'), url(./../assets/Muli/Muli-ExtraBoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  src: local('Muli-Bold'), url(./../assets/Muli/Muli-Black.ttf) format('truetype');
}
@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: 900;
  src: local('Muli-Bold'), url(./../assets/Muli/Muli-BlackItalic.ttf) format('truetype');
}
