.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.u-bg-blue {
  background-color: var(--color-blue);
}

.u-bg-subtle {
  background-color: var(--color-blue-subtle);
}

.u-text-center {
  text-align: center;
}
